@import "styles/code.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

#content {
  ul {
    list-style: disc;
    padding-left: 48px;

    li ul {
      list-style: circle;
      padding-left: 48px;
    }
  }
}

#post-content {
  pre, img {
    margin-block: 1.25rem;
  }

  p {
    margin-block: 1rem;
  }

  blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #e0f2fe;
    font-style: italic;
    background-color: #27272a;
  }

  code:not(.hljs) {
    color: #0284c7;
  }
}

:root.dark {
  --pagefind-ui-scale: 1;
  --pagefind-ui-primary: #27272a;
  --pagefind-ui-text: #fff;
  --pagefind-ui-background: #27272a;
  --pagefind-ui-border: #27272a;
  --pagefind-ui-tag: #cbd5e1;
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: 8px;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: sans-serif;
}

#search .pagefind-ui__drawer {
  max-width: 350px;
}

@media (min-width: 1024px) {
  :root.dark {
    --pagefind-ui-scale: 0.75;
  }

  #search {
    .pagefind-ui__search-input {
      padding-right: 0;
      height: 44px;
    }

    .pagefind-ui__search-clear {
      height: 40px;
    }
  }

  #content {
    ul {
      padding-left: 24px;

      li ul {
        padding-left: 24px;
      }
    }
  }
}
